<h1>{{'body.Listado de Personajes:'|translate}}</h1>
<table class="table table-striped">
    <thead>
      <td>{{'body.ID'|translate}}</td> <td>{{'body.NOMBRE'|translate}}</td> <td>{{'body.ESTADO'|translate}}</td> <td>{{'body.ESPECIE'|translate}}</td> <td>{{'body.TIPO'|translate}}</td> <td>{{'body.GENERO'|translate}}</td>
    </thead>
    <tbody>
        <tr *ngFor="let p of personajes">
            <td> {{p.id}} </td>
            <td> {{p.name}} </td>
            <td> {{p.status}} </td>
            <td> {{p.species}} </td>
            <td> {{p.type}} </td>
            <td> {{p.gender}} </td>
        </tr>
    </tbody>
</table>
